form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.filter-section {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
}

.clear-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #0087f5;
  cursor: pointer;
  transition: all 0.4s ease;
}

.clear-section:hover {
  color: #40a9ff;
}
