form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.first-div {
  display: flex;
  flex-grow: 3;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

.second-div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}