.statistic-container {
  padding: 20px;

  .statistic-content {
    width: 500px;

    .space-between {
      display: flex;
      justify-content: space-between;
    }

    .count-data {
      display: flex;
      flex-direction: column;

      span:first-child {
        color: rgba(0, 0, 0, 0.45);
      }

      span:last-child {
        font-size: 18px;
      }
    }
  }

  .nat-statistic-container {
    margin-top: 25px;

    .nat-title {
      color: rgba(0, 0, 0, 0.45);
      margin: 0;
    }

    .nat-statistic-row {
      display: flex;
      padding: 7px 0;

      .nat-statistic-item {
        display: flex;
        width: 210px;

        b {
          margin-right: 7px;
        }
      }
    }
  }
}
